Repository boostcamp-2020/IssueTracker-40, pull requests merged in 2020-11, with the labels that each got.

#21 fix: process.env.PWD를 process.cwd()로 변경
  backend/src/application.js
  backend/src/common/env/env-type.js
Labels: 🌑 backend, 💩 bug

#24 fix: delete `cr` eslint 에러 해결
  backend/.eslintrc.js
Labels: 🌑 backend, 💩 bug

#43 fix: 모델 순환 참조로 인한 ESLint 에러 해결
  backend/.eslintrc.js
Labels: 🌑 backend, 💩 bug

#40 feat: typeORM을 이용한 모델 생성
  backend/src/common/config/database/connection-option-generator.js
  backend/src/common/type/index.js
  backend/src/common/type/issue-state.js
  backend/src/common/type/milestone-state.js
  backend/src/model/comment.js
  backend/src/model/issue.js
  backend/src/model/label-to-issue.js
  backend/src/model/label.js
  backend/src/model/milestone.js
  backend/src/model/user-to-issue.js
  backend/src/model/user.js
Labels: 🌑 backend

#48 fix: [BE] 임베디드 데이터베이스 sqlite3 추가
  backend/package-lock.json
  backend/package.json
  backend/src/common/config/database/connection-option-generator.js
  backend/src/common/config/database/database-type.js
Labels: 🌑 backend, 💩 bug

#51 로그인 라우팅 구현
  .gitignore
  frontend/.eslintrc.js
  frontend/config/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/context/UserContext.js
  frontend/src/common/context/index.js
  frontend/src/common/hook/index.js
  frontend/src/common/hook/usePromise.js
  frontend/src/pages/MainPage.jsx
  frontend/src/shared/App.jsx
  frontend/webpack.config.common.js
Labels: 🌝 frontend

#50 passport OAuth2.0 GitHub 인증 구현
  backend/package-lock.json
  backend/package.json
  backend/src/application.js
  backend/src/common/error/authentication-failed-error.js
  backend/src/common/error/error-code.js
  backend/src/common/error/forbidden-error.js
  backend/src/common/error/unauthorized-error.js
  backend/src/common/lib/authenticator/authenticator-manager.js
  backend/src/common/lib/authenticator/github-authenticator.js
  backend/src/common/lib/authenticator/index.js
  backend/src/common/lib/authenticator/jwt-authenticator.js
  backend/src/common/lib/authenticator/passport.js
  backend/src/common/lib/authenticator/passport/index.js
  backend/src/common/lib/index.js
  backend/src/common/lib/token-generator.js
  backend/src/controller/index.js
  backend/src/controller/user-controller.js
  backend/src/model/user.js
  backend/src/router/api.js
  backend/src/router/index.js
  backend/src/router/oauth.js
  backend/src/router/user.js
  backend/src/service/index.js
  backend/src/service/user-service.js
Labels: 🌑 backend

#54 style: [FE] 색상 정보를 가진 파일 생성
  frontend/src/common/style/color.js
Labels: 🌝 frontend

#56 fix: [FE] ESLint 오류 해결
  frontend/.eslintrc.js
Labels: 🌝 frontend, 💩 bug

#58 fix: [FE] 인증된 사용자에 대한 메인 페이지 이동 불가 문제 해결
  frontend/config/index.js
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend, 💩 bug

#59 feat: [FE] 공통 컴포넌트 버튼 구현
  frontend/src/components/Button/Button.jsx
  frontend/src/components/index.js
Labels: 🌝 frontend

#60 2주차 배포
  .gitignore
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/application.js
  backend/src/common/config/database/connection-option-generator.js
  backend/src/common/config/database/database-type.js
  backend/src/common/error/authentication-failed-error.js
  backend/src/common/error/error-code.js
  backend/src/common/error/forbidden-error.js
  backend/src/common/error/unauthorized-error.js
  backend/src/common/lib/authenticator/authenticator-manager.js
  backend/src/common/lib/authenticator/github-authenticator.js
  backend/src/common/lib/authenticator/index.js
  backend/src/common/lib/authenticator/jwt-authenticator.js
  backend/src/common/lib/authenticator/passport.js
  backend/src/common/lib/authenticator/passport/index.js
  backend/src/common/lib/index.js
  backend/src/common/lib/token-generator.js
  backend/src/common/type/index.js
  backend/src/common/type/issue-state.js
  backend/src/common/type/milestone-state.js
  backend/src/controller/index.js
  backend/src/controller/user-controller.js
  backend/src/model/comment.js
  backend/src/model/issue.js
  backend/src/model/label-to-issue.js
  backend/src/model/label.js
  backend/src/model/milestone.js
  backend/src/model/user-to-issue.js
  backend/src/model/user.js
  backend/src/router/api.js
  backend/src/router/index.js
  backend/src/router/oauth.js
  backend/src/router/user.js
  backend/src/service/index.js
  backend/src/service/user-service.js
  frontend/.eslintrc.js
  frontend/config/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/context/UserContext.js
  frontend/src/common/context/index.js
  frontend/src/common/hook/index.js
  frontend/src/common/hook/usePromise.js
  frontend/src/common/style/color.js
  frontend/src/components/Button/Button.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/index.js
  frontend/src/pages/LoginPage.jsx
  frontend/src/pages/MainPage.jsx
  frontend/src/shared/App.jsx
  frontend/webpack.config.common.js
Labels: 🌑 backend, 🌝 frontend

#73 feat: 배경이 제거된 이미지 제작
  frontend/public/favicon.ico
  frontend/public/imgs/calendar-black-icon.png
  frontend/public/imgs/calendar-gray-icon.png
  frontend/public/imgs/change-black-icon.png
  frontend/public/imgs/change-white-icon.png
  frontend/public/imgs/check-black-icon.png
  frontend/public/imgs/check-gray-icon.png
  frontend/public/imgs/close-blue-icon.png
  frontend/public/imgs/close-gray-icon.png
  frontend/public/imgs/emoticon-blue-icon.png
  frontend/public/imgs/emoticon-gray-icon.png
  frontend/public/imgs/issue-closed-icon.png
  frontend/public/imgs/issue-closed-white-icon.png
  frontend/public/imgs/issue-gray-icon.png
  frontend/public/imgs/issue-open-icon.png
  frontend/public/imgs/issue-white-icon.png
  frontend/public/imgs/label-black-icon.png
  frontend/public/imgs/label-white-icon.png
  frontend/public/imgs/logo.png
  frontend/public/imgs/milestone-black-icon.png
  frontend/public/imgs/milestone-blue-icon.png
  frontend/public/imgs/milestone-gray-icon.png
  frontend/public/imgs/milestone-white-icon.png
  frontend/public/imgs/search-icon.png
  frontend/public/imgs/setting-blue-icon.png
  frontend/public/imgs/setting-gray-icon.png
  frontend/public/imgs/snailHub-black-icon.png
  frontend/public/imgs/snailHub-white-icon.png
Labels: 🌝 frontend

#68 헤더 컴포넌트 제작
  frontend/src/common/style/color.js
  frontend/src/components/Caret/Caret.jsx
  frontend/src/components/Header/HeaderContainer/HeaderContainer.jsx
  frontend/src/components/Header/HeaderContext/HeaderContext.jsx
  frontend/src/components/Header/HeaderPresenter/HeaderDropmenu/HeaderDropmenu.jsx
  frontend/src/components/Header/HeaderPresenter/HeaderPresenter.jsx
  frontend/src/components/Header/HeaderPresenter/HeaderTitle/HeaderTitle.jsx
  frontend/src/components/UserProfile/UserProfile.jsx
  frontend/src/components/index.js
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend

#65 fix: 연관 관계 설정 수정
  backend/src/model/comment-content.js
  backend/src/model/comment.js
  backend/src/model/issue-content.js
  backend/src/model/issue.js
  backend/src/model/label-to-issue.js
  backend/src/model/label.js
  backend/src/model/milestone.js
  backend/src/model/user-to-issue.js
  backend/src/model/user.js
Labels: 🌑 backend, 💩 bug

#61 feat: [FE] 라벨 컴포넌트 제작
  frontend/src/components/Label/Label.jsx
  frontend/src/components/index.js
Labels: 🌝 frontend

#63 사이드바 메뉴 컴포넌트 제작
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/setting-icon.png
  frontend/src/common/style/color.js
  frontend/src/components/SidebarMenu/SidebarMenu.jsx
  frontend/src/components/index.js
  frontend/webpack.config.common.js
Labels: 🌝 frontend

#75 feat: [FE] Loading Page 구현
  frontend/src/common/style/color.js
  frontend/src/pages/LoadingPage.jsx
  frontend/src/pages/index.js
Labels: 🌝 frontend

#77 feat: [BE] Transactional 데코레이터 설정 추가
  backend/src/application.js
Labels: 🌑 backend

#74 회원가입 기능 구현
  backend/src/common/error/bad-request-error.js
  backend/src/common/error/error-code.js
  backend/src/common/lib/authenticator/github-authenticator.js
  backend/src/common/lib/authenticator/jwt-authenticator.js
  backend/src/common/lib/crypto.js
  backend/src/common/lib/index.js
  backend/src/controller/index.js
  backend/src/controller/signup-controller.js
  backend/src/model/user.js
  backend/src/router/index.js
  backend/src/router/signup.js
  backend/src/service/user-service.js
Labels: 🌑 backend

#81 feat: [BE] Label 생성/조회 API 구현
  backend/src/controller/index.js
  backend/src/controller/label-controller.js
  backend/src/model/label.js
  backend/src/router/api.js
  backend/src/router/label.js
  backend/src/service/index.js
  backend/src/service/label-service.js
  backend/src/service/user-service.js
Labels: 🌑 backend

#79 feat: [FE] 로그인/회원가입 버튼 구현
  frontend/src/common/style/color.js
  frontend/src/components/LoginForm/LoginForm.jsx
Labels: 🌝 frontend

#83 feat: [FE] contentEditor 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/style/color.js
  frontend/src/common/style/reset.scss
  frontend/src/components/ContentEditor/ContentEditor.jsx
  frontend/src/components/ContentEditor/Preview/Preview.jsx
  frontend/src/components/ContentEditor/Writer/Writer.jsx
  frontend/src/components/index.js
Labels: 🌝 frontend

#82 feat: [BE] Label 수정/삭제 API 구현
  backend/src/controller/label-controller.js
  backend/src/router/label.js
  backend/src/service/label-service.js
Labels: 🌑 backend

#84 feat: [FE] Label 사이즈 조절
  frontend/src/common/style/color.js
  frontend/src/components/Label/Label.jsx
Labels: 🌝 frontend, 🎨 modify

#86 feat: 이슈 생성 API 개발
  backend/.eslintignore
  backend/package-lock.json
  backend/package.json
  backend/src/application.js
  backend/src/common/error/business-error.js
  backend/src/common/error/error-code.js
  backend/src/common/lib/authenticator/github-authenticator.js
  backend/src/common/middleware/error-handler.js
  backend/src/common/middleware/request-type.js
  backend/src/common/middleware/transformer.js
  backend/src/common/middleware/validator.js
  backend/src/controller/issue-controller.js
  backend/src/dto/issue.js
  backend/src/model/comment-content.js
  backend/src/model/issue-content.js
  backend/src/model/issue.js
  backend/src/model/label-to-issue.js
  backend/src/model/user-to-issue.js
  backend/src/router/api.js
  backend/src/router/issue.js
  backend/src/service/issue-service.js
  backend/src/service/user-service.js
  backend/test/TransactionWrapper.js
  backend/test/common/middleware/transformer.test.js
  backend/test/common/middleware/validator.test.js
  backend/test/router/issue.test.js
  backend/test/service/issue-service.test.js
Labels: 🌑 backend

#92 feat: [FE] ProgressBar 컴포넌트 구현
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/components/index.js
Labels: 🌝 frontend

#91 feat: [BE] Label-To-Issue 생성/삭제 API 구현
  backend/src/common/middleware/error-handler.js
  backend/src/controller/index.js
  backend/src/controller/label-to-issue-controller.js
  backend/src/router/api.js
  backend/src/router/label-to-issue.js
  backend/src/service/index.js
  backend/src/service/label-to-issue-service.js
  backend/test/router/issue-label.test.js
Labels: 🌑 backend

#93 feat: [BE] 이슈 담당자 추가/삭제 API 구현
  backend/.eslintrc.js
  backend/src/controller/index.js
  backend/src/controller/issue-controller.js
  backend/src/dto/issue.js
  backend/src/router/issue.js
  backend/src/service/issue-service.js
  backend/test/router/issue-user.test.js
  backend/test/service/issue-user.test.js
Labels: 🌑 backend

#95 feat: [BE] 댓글 생성/조회 API 구현
  backend/src/controller/comment-controller.js
  backend/src/controller/index.js
  backend/src/dto/issue.js
  backend/src/router/issue.js
  backend/src/service/comment-service.js
  backend/src/service/index.js
  backend/test/router/comment.test.js
  backend/test/service/comment-service.test.js
Labels: 🌑 backend

#97 fix: [BE] 이슈 담당자 추가/삭제 API 수정
  backend/src/controller/issue-controller.js
Labels: 🌑 backend, 💩 bug

#94 feat: [FE] ListGroup 컴포넌트 제작 및 IssueItem 컴포넌트 제작
  frontend/src/common/style/color.js
  frontend/src/components/Caret/Caret.jsx
  frontend/src/components/Checkbox/Checkbox.jsx
  frontend/src/components/Header/HeaderContainer/HeaderContainer.jsx
  frontend/src/components/Header/HeaderPresenter/HeaderDropmenu/HeaderDropmenu.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterDropmenu/IssueFilterDropmenu.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterMenuContainer/IssueFilterMenuContainer.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterMenuContext/IssueFilterMenuContext.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterMenuPresenter/IssueFilterMenuPresenter.jsx
  frontend/src/components/IssueIcon/IssueIcon.jsx
  frontend/src/components/IssueItem/IssueItem.jsx
  frontend/src/components/ListGroup/ListGroupArea.jsx
  frontend/src/components/ListGroup/ListGroupHeader.jsx
  frontend/src/components/ListGroup/ListGroupItem.jsx
  frontend/src/components/ListGroup/ListGroupItemList.jsx
  frontend/src/components/ListGroup/index.js
  frontend/src/components/index.js
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend

#98 feat: [BE] 댓글 수정/삭제 API 구현
  backend/src/controller/comment-controller.js
  backend/src/dto/issue.js
  backend/src/router/issue.js
  backend/src/service/comment-service.js
  backend/test/router/comment.test.js
  backend/test/service/comment-service.test.js
Labels: 🌑 backend

#99 feat: [BE] 마일스톤 생성/조회 API 구현
  backend/src/controller/index.js
  backend/src/controller/milestone-controller.js
  backend/src/dto/milestone.js
  backend/src/router/api.js
  backend/src/router/milestone.js
  backend/src/service/index.js
  backend/src/service/milestone-service.js
  backend/test/router/milestone.test.js
  backend/test/service/milestone-service.test.js
Labels: 🌑 backend

#100 feat: [FE] SignupPage 제작
  frontend/src/common/style/color.js
  frontend/src/components/SignupForm/SignupForm.jsx
  frontend/src/components/index.js
  frontend/src/pages/SignupPage.jsx
  frontend/src/pages/index.js
  frontend/src/shared/App.jsx
Labels: 🌝 frontend

#105 로그인/로그아웃 API 구현
  backend/src/controller/auth-controller.js
  backend/src/controller/index.js
  backend/src/controller/signup-controller.js
  backend/src/dto/auth.js
  backend/src/router/auth.js
  backend/src/router/index.js
  backend/src/router/signup.js
  backend/src/service/user-service.js
  backend/test/router/auth.test.js
  backend/test/service/user-service.test.js
  frontend/package-lock.json
Labels: 🌑 backend

#110 refactor: [FE] 로그인/회원가입 폼 공통컴포넌트 분리
  frontend/src/common/style/color.js
  frontend/src/components/Form/FormContainer.jsx
  frontend/src/components/Form/FormInput.jsx
  frontend/src/components/Form/FormLabel.jsx
  frontend/src/components/Form/FormSubmit.jsx
  frontend/src/components/Form/WarningMessage.jsx
  frontend/src/components/Form/index.js
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/SignupForm/SignupForm.jsx
  frontend/src/components/index.js
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend, 🎨 modify

#114 feat: [FE] 이슈 생성 페이지 UI 구현
  frontend/src/common/style/color.js
  frontend/src/components/Header/HeaderPresenter/HeaderDropmenu/HeaderDropmenu.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterDropmenu/IssueFilterDropmenu.jsx
  frontend/src/components/IssueItem/IssueItem.jsx
  frontend/src/components/SidebarMenu/SidebarMenu.jsx
  frontend/src/components/UserProfile/UserProfile.jsx
  frontend/src/pages/NewIssuePage.jsx
Labels: 🌝 frontend

#109 이슈 조회 API
  backend/src/common/env/database-env.js
  backend/src/common/lib/index.js
  backend/src/common/lib/query-parser.js
  backend/src/common/middleware/query-mapper.js
  backend/src/controller/issue-controller.js
  backend/src/dto/issue.js
  backend/src/model/issue.js
  backend/src/router/issue.js
  backend/src/service/issue-service.js
  backend/test/common/lib/query-parser.test.js
  backend/test/router/issue.test.js
  backend/test/service/issue-service.test.js
Labels: 🌑 backend

#113 모든 User, Author, Assignee 조회 API 구현
  backend/src/common/type/index.js
  backend/src/common/type/user-type.js
  backend/src/controller/user-controller.js
  backend/src/dto/user.js
  backend/src/router/user.js
  backend/src/service/user-service.js
  backend/test/router/user.test.js
  backend/test/service/user-service.test.js
Labels: 🌑 backend

#107 feat: [BE] 이슈 마일스톤 생성/삭제 API 구현
  backend/src/controller/issue-controller.js
  backend/src/dto/issue.js
  backend/src/router/issue.js
  backend/src/service/index.js
  backend/src/service/issue-service.js
  backend/test/router/issue-milestone.test.js
  backend/test/service/issue-milestone.test.js
Labels: 🌑 backend

#112 fix: [BE] 마일스톤, 댓글 조회 응답 결과가 보내지지 않은 버그 해결
  backend/src/controller/comment-controller.js
  backend/src/controller/milestone-controller.js
  backend/src/service/comment-service.js
  backend/src/service/milestone-service.js
  backend/test/router/milestone.test.js
Labels: 🌑 backend, 💩 bug

#117 fix: [BE] 오타 수정
  backend/src/dto/issue.js
  backend/src/service/issue-service.js
Labels: 💩 bug

#118 feat: [BE] 이슈 삭제 및 수정 API
  backend/src/controller/issue-controller.js
  backend/src/dto/issue.js
  backend/src/model/issue.js
  backend/src/router/issue.js
  backend/src/service/issue-service.js
  backend/test/router/issue.test.js
  backend/test/service/issue-service.test.js
Labels: 🌑 backend

#120 마일스톤 수정/삭제 API 구현
  backend/src/controller/milestone-controller.js
  backend/src/dto/milestone.js
  backend/src/router/milestone.js
  backend/src/service/milestone-service.js
  backend/test/router/milestone.test.js
  backend/test/service/issue-user.test.js
Labels: 🌑 backend

#124 reset.scss 변경으로 인한 컴포넌트 리스트 스타일 변경
  frontend/src/components/Header/HeaderPresenter/HeaderPresenter.jsx
  frontend/src/components/ListGroup/ListGroupArea.jsx
Labels: 🌝 frontend, 🎨 modify

#127 feat: [FE] 로그인 화면 이벤트 할당 완료
  frontend/config/index.js
  frontend/src/common/utils/api.js
  frontend/src/common/utils/index.js
  frontend/src/components/LoginForm/LoginForm.jsx
Labels: 🌝 frontend

#128 feat: [FE] label/milestone 탭 구현
  frontend/src/common/style/color.js
  frontend/src/components/LabelMilestoneHeader/LabelMilestoneHeader.jsx
  frontend/src/components/index.js
  frontend/src/pages/LabelPage.jsx
  frontend/src/pages/MilestonePage.jsx
Labels: 🌝 frontend

#126 LabelService 에러참조 오타 수정
  backend/src/service/label-service.js
Labels: 🌑 backend, 💩 bug

#129 feat: [FE] 회원가입 페이지 이벤트 할당
  frontend/config/index.js
  frontend/src/common/utils/api.js
  frontend/src/components/SignupForm/SignupForm.jsx
Labels: 🌝 frontend

#132 필터바 컴포넌트 제작
  frontend/src/common/style/color.js
  frontend/src/components/FilterBar/FilterBarContainer/FilterBarContainer.jsx
  frontend/src/components/FilterBar/FilterBarContext/FilterBarContext.jsx
  frontend/src/components/FilterBar/FilterBarPresenter/FilterBarPresenter.jsx
  frontend/src/components/FilterBar/FilterDropmenu/FilterDropmenu.jsx
  frontend/src/components/MainTemplate/Content.jsx
  frontend/src/components/MainTemplate/Top.jsx
  frontend/src/components/MainTemplate/index.js
  frontend/src/components/PageNavButton/PageNavButton.jsx
  frontend/src/components/index.js
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend

#136 feat: [BE] 이슈 세부 조회 API 응답 수정
  backend/src/controller/issue-controller.js
  backend/src/service/issue-service.js
Labels: 🌑 backend

#138 feat: [FE] usercontext와 header, 로그인 검사 로직 app으로 이동
  frontend/src/pages/IssueDetailPage.jsx
  frontend/src/pages/LabelPage.jsx
  frontend/src/pages/MainPage.jsx
  frontend/src/pages/MilestonePage.jsx
  frontend/src/pages/NewIssuePage.jsx
  frontend/src/pages/NewMilestonePage.jsx
  frontend/src/shared/App.jsx
Labels: 🌝 frontend

#134 feat: [FE] Labelpage Editor 구현 및 레이블 추가 API 연동
  frontend/config/index.js
  frontend/src/common/style/color.js
  frontend/src/common/utils/api.js
  frontend/src/components/LabelEditor/LabelEditor.jsx
  frontend/src/components/LabelMilestoneHeader/LabelMilestoneHeader.jsx
  frontend/src/components/index.js
  frontend/src/pages/LabelPage.jsx
Labels: 🌝 frontend

#140 이슈 상세 페이지
  frontend/config/index.js
  frontend/src/common/hook/usePromise.js
  frontend/src/common/utils/api.js
  frontend/src/components/Comment/Comment.jsx
  frontend/src/components/ContentEditor/ContentEditor.jsx
  frontend/src/components/ContentEditor/Preview/Preview.jsx
  frontend/src/components/ContentEditor/Writer/Writer.jsx
  frontend/src/components/IssueDetail/Middle.jsx
  frontend/src/components/IssueDetail/MiddleLeft.jsx
  frontend/src/components/IssueDetail/MiddleRight.jsx
  frontend/src/components/IssueDetail/Top.jsx
  frontend/src/components/IssueDetail/index.js
  frontend/src/components/index.js
  frontend/src/pages/IssueDetailPage.jsx
Labels: 🌝 frontend

#141 이슈목록화면 기능구현
  frontend/config/index.js
  frontend/src/common/utils/api.js
  frontend/src/components/Checkbox/Checkbox.jsx
  frontend/src/components/FilterBar/FilterBarPresenter/FilterBarPresenter.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterDropmenu/IssueFilterDropmenu.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterMenuContainer/IssueFilterMenuContainer.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterMenuPresenter/IssueFilterMenuPresenter.jsx
  frontend/src/components/IssueItem/IssueItem.jsx
  frontend/src/components/ListGroup/ListGroupArea.jsx
  frontend/src/components/MainTemplate/Content.jsx
  frontend/src/components/MainTemplate/MainContext/MainContentContext.js
  frontend/src/components/MainTemplate/Top.jsx
  frontend/src/pages/MainPage.jsx
Labels: 🌝 frontend

#142 feat: [FE] 레이블 페이지 구현
  backend/src/service/label-service.js
  frontend/src/common/style/color.js
  frontend/src/common/utils/api.js
  frontend/src/components/LabelEditor/LabelEditor.jsx
  frontend/src/components/LabelItem/LabelItem.jsx
  frontend/src/components/LabelMilestoneHeader/LabelMilestoneHeader.jsx
  frontend/src/components/index.js
  frontend/src/pages/LabelPage.jsx
Labels: 🌝 frontend

#144 feat: [FE] 마일스톤 페이지 구현
  backend/src/dto/milestone.js
  backend/src/model/milestone.js
  backend/test/router/milestone.test.js
  backend/test/service/milestone-service.test.js
  frontend/config/index.js
  frontend/src/common/utils/api.js
  frontend/src/components/LabelMilestoneHeader/LabelMilestoneHeader.jsx
  frontend/src/components/MilestoneForm/MilestoneForm.jsx
  frontend/src/components/MilestoneItem/MilestoneItem.jsx
  frontend/src/components/OpenClosedTab/OpenClosedTab.jsx
  frontend/src/components/index.js
  frontend/src/pages/EditMilstonePage.jsx
  frontend/src/pages/IssueDetailPage.jsx
  frontend/src/pages/LabelPage.jsx
  frontend/src/pages/MainPage.jsx
  frontend/src/pages/MilestonePage.jsx
  frontend/src/pages/NewMilestonePage.jsx
  frontend/src/pages/index.js
  frontend/src/shared/App.jsx
Labels: 🌝 frontend

#145 메인페이지 기능 구현
  frontend/config/index.js
  frontend/src/common/utils/api.js
  frontend/src/components/ContentEditor/Writer/Writer.jsx
  frontend/src/components/FilterBar/FilterBarContainer/FilterBarContainer.jsx
  frontend/src/components/FilterBar/FilterBarPresenter/FilterBarPresenter.jsx
  frontend/src/components/FilterBar/FilterDropmenu/FilterDropmenu.jsx
  frontend/src/components/Header/HeaderContainer/HeaderContainer.jsx
  frontend/src/components/Header/HeaderPresenter/HeaderDropmenu/HeaderDropmenu.jsx
  frontend/src/components/IssueFilterMenu/IssueFilterDropmenu/IssueFilterDropmenu.jsx
  frontend/src/components/IssueItem/IssueItem.jsx
  frontend/src/components/MainTemplate/Content.jsx
  frontend/src/components/MainTemplate/MainContext/MainContext.js
  frontend/src/pages/IssueDetailPage.jsx
  frontend/src/pages/MainPage.jsx
  frontend/src/pages/NewIssuePage.jsx
  frontend/src/shared/App.jsx
Labels: 🌝 frontend

#148 3주차 배포 3
  frontend/src/components/index.js
Labels: 🌑 backend, 💩 bug
